.image{
    width: 200px;
    height: 200px;
}
.item{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid black;
}
.item_detail{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}
.inner{
    padding: 5px;
}
.heading{
    background-color: rgb(213, 134, 134);
}
.cart-img{
    /* src: url('./components/cart.jpg'); */
    alt: "";
    width: 30%;
    height: 30%;
    margin-left: 95%;
}
.addcartbutton{
    background-color: rgb(104, 55, 55);
    color: azure;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    padding: 5px;
}


.h1{
    width: 60%;
}
.h2{
    width: 20%;
}

.my-table {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }
